body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: black;
	font-size: 62.5%;
}

header,
main,
footer {
	background-color: black;
	font-size: 1.6em;
}

header {
	padding: 1.875em 0;
}

header h1 {
    text-align: center;
    color : white;
}

h1, h2, h3 {
	margin: 0;
}

h1 {
	font-size: 2.5em;
}

main h2 {
	padding: 0.625em 0 0.625em 0.625em;
}

section {
	margin: 1.875em 0;
}

section:first-child {
	margin-top: 0;
}

section:last-child {
	margin-bottom: 0;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	font-size: 0.75em;
}

/*use of element*/
p {
	padding: 1.25em;
}

/*use of class*/
.section_title {
    font-family: 'Times New Roman', Times, serif;
}

/*use of id element*/
#mystery_book {
    background-color: rgb(108, 197, 224);
}
figure {
	margin: 0;
	padding: 0;
	text-align: center;
}

figcaption {
	font-style: italic;
}

footer {
	text-align: center;
	padding: 3em;
}

footer p {
	display: inline-block;
}

img {
	width: 100%;
	max-width: 100%;
}

@media screen and (max-width: 680px) {
	nav ul li {
		margin: 1em 0;
		display: block;
        font-size: 1em;
        color : green;
	}
	body {
		font-size: 50%;
	}
}

/* unvisited link */
a:link {
    color: green;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    color: yellow;
  }